<footer>
    <p class="text-footer text-muted">Designed by Utku POLAT</p>
    <p class="text-footer">For your questions and offers, contact <a href="mailto:utkupolat@protonmail.com" class="text-theme">utkupolat@protonmail.com</a></p>
</footer>